---
layout: page
title: "Nominations for the first BOSS Hack-A-Thon"
date: 2012-11-27 22:09
comments: true
sharing: true
footer: true
---
%script{:type => "text/javascript", :src => "https://apis.google.com/js/plusone.js"}
%p The following projects were nominated as possible projects for our first hackathon:
%p
  %ul.unstyled
    %li
      %a{:id => "osmterpnav", :href => "#osmterpnav"} OpenStreeMap TerpNav
      %g:plusone{:size =>"small",:href => "#osmterpnav"}
      %p
        Hacking on
        %a{:href => 'http://map.umd.edu/map/'} TerpNav
        from the University of Maryland
    %li
      %a{:id => "#sylvester",:href => "#sylvester"} Shared Memory Shenanigans
      %g:plusone{:size =>"small",:href => "#sylvester"}
      %p
        Take the concepts from the
        %a{:href => 'https://github.com/awebneck/sylvester'} sylvester
        gem by Jeremy Holland and produce something dangerous and/or generally useful
