---
layout: page
title: "Nominations for the first BOSS Hack-A-Thon"
date: 2012-11-27 22:09
comments: true
sharing: true
footer: true
author: <a href="https://github.com/dwilkins">dwilkins</a>
---
%script{:type => "text/javascript", :src => "https://apis.google.com/js/plusone.js"}
.possible-projects{:itemscope => "", :itemtype => 'http://schema.org/EducationEvent'}
  %p{:itemprop => 'name'}
    The following projects were nominated as possible projects for our first hackathon on
    %span{:itemprop => 'startDate'}2013-01-26
  %p
    %ul.unstyled
      %li{:itemscope => "", :itemprop => 'subEvent', :itemtype => 'http://schema.org/Event'}
        %a{:id => 'osmterpnav', :href => '#osmterpnav', :itemprop => "url"}OpenStreeMap TerpNav
        %g:plusone{:size =>"small",:href => "#osmterpnav"}
        %p{:itemprop => 'description'}
          Hacking on
          %a{:href => 'http://map.umd.edu/map/'}TerpNav
          from the University of Maryland
      %li{:itemscope => "", :itemprop => 'subEvent', :itemtype => 'http://schema.org/Event'}
        %a{:id => "#sylvester",:href => "#sylvester", :itemprop=>'url'} Shared Memory Shenanigans
        %g:plusone{:size =>"small",:href => "#sylvester"}
        %p{:itemprop => 'description'}
          Take the concepts from the
          %a{:href => 'https://github.com/awebneck/sylvester'} sylvester
          gem by Jeremy Holland and produce something dangerous and/or generally useful
      %li{:itemscope => "", :itemprop => 'subEvent', :itemtype => 'http://schema.org/Event'}
        %a{:id => "#magicgathering",:href => "#magicgathering", :itemprop => 'url'} Magic Gathering Card Sorterator
        %g:plusone{:size => "small",:href => "#magicgathering"}
        %p{:itemprop => 'description'}
          Develop software to recognize cards from
          %a{:href => 'http://www.wizards.com/Magic/Summoner/'} Magic: The Gathering
          for tournaments.   Apparently these tournaments have to catalog the cards you
          got and the cards you're going to play.   Other possibilities are to build a sorting
          machine like a money counter to count these cards
      %li{:itemscope => "", :itemprop => 'subEvent', :itemtype => 'http://schema.org/Event'}
        %a{:id => "#linuxairplay",:href => "#linuxairplay", :itemprop => 'url'} Linux AirPlay-esque service
        %g:plusone{:size => "small",:href => "#linuxairplay"}
        %p{:itemprop => 'description'}
          %a{:href => 'https://github.com/knewter'}Josh Adams
          and
          %a{:href => 'https://github.com/adamgamble'}Adam Gamble
          talked about writing an
          %a{:href => 'http://www.apple.com/airplay/'}AirPlay
          \-esque service for linux (but it should be easy to run it on mac / windows as well)
          just having the server script vlc and having the host encode the desktop to a streaming video, and have a protocol to sync them up.
          They think it's doable in the time allotted with a couple or three people working on it.