---
layout: post
title: "Planning Meetup Summary"
date: 2012-12-17 20:21
comments: true
categories: BOSS hack-a-thon meetup
author: "Josh Adams"
---

%p So the Google Hangout formula seemed to work out for this planning meetup.  I've embedded it at the bottom of this post.

%p
  We talked about quite a few things.  It was agreed upon that we'd expect to see
  a list of projects with sponsors, and that in general there'd only be one project
  per sponsor.  Then anyone who was interested in that project could sign on and say
  "yeah, I'd like to help with that."  That's pretty much all of the rigor that will
  go into figuring out the projects ahead of time - we'll organize online and hopefully
  have a good feel for what we're doing by the time that we arrive.

%p
  I've updated the
  %a{:href => '/first-hackathon-nominations/index.html'} potential projects
  list to reflect newly suggested projects.  If someone feels that a project is dead,
  feel free to submit a PR with it removed.  If you want a project added, send a PR
  with the new project (or mention it in a comment and we can help out).

%p Within a week or so, we should remove projects that haven't had a champion yet.  If you'd like to nominate yourself as a champion for a given project, either send a PR with yourself listed on the project on this page, or mention it in comments (lazy) and we'll put it up there for you.

%iframe{ width:560, height:315, src:"http://www.youtube.com/embed/wACXOEF2dRQ", frameborder:"0", allowfullscreen: true }
