---
layout: post
title: "First BOSS Hack-A-Thon Scheduled"
date: 2012-11-27 21:38
comments: true
author: "@dwilkins"
categories: BOSS hackathon
---
%p Birmingham Open Source Software has scheduled our first Hack-A-Thon for 26-Jan-2013, also known as the last Saturday in January, 2013.

%p
  Several
  %a{:href => '/first-hackathon-nominations/index.html'}potential projects
  were suggested at our last BOSS meetup.  This list will most likely grow, so make sure you check back often.   Additional nominations
  are encouraged - just post your suggestions in the comments

%p
  We're planning on having a virtual meeting in December to nail down the details.   Date and time of the December meeting
  will be posted on the
  %a{:href => 'http://www.meetup.com/bhamboss/'}BOSS Meetup Page
