---
layout: post
title: "So You Want To Make Posts To This Blog"
date: 2012-12-04 19:50
comments: true
author: dwilkins
categories: blog post haml
published: false
---
%p
  I decided to use
  %a{:href => "http://octopress.org/"} Octopress
  for this blog since it works with
  %a{:href => "http://pages.github.com/"} Github Pages
  and it's got
  %a{:href => "http://haml.info/"} HAML
  support.   As it turns out, the procedure for actually making a post is pretty
  involved.   I don't want to the be the only one making posts about our
  Hack-A-Thon, so here is the procedure for making posts.

%p
  %a{:href => "http://octopress.org/"} Octopress
  is a self-described
  %strong blogging framework for hackers.  Most of the folks in the BOSS meetup
  fit that description, so it shouldn't be too tough.   You'll need a
  %a{:href => "http://github.com"} Github
  account, some rudimentary
  %a{:href => "http://www.ruby-lang.org/en/"}ruby
  skillz, and a burning desire to put something on the Interwebs.  I'll use
  %a{:href => "http://haml.info"} HAML
  for all of the examples, but you can use Jekyll if you want.

%p
  %strong Let's get started!


  .clone Clone the repo
