---
layout: post
title: "BOSS Hack planning meetup"
date: 2012-12-11 12:06
comments: true
categories: BOSS hack-a-thon meetup
---

%table.event-info
  %tr
    %td.label
      %strong Date/Time
    %td.info 6pm 17-Dec-2012
  %tr
    %td.label
      %strong Location
    %td.info
      %a{:href => "https://plus.google.com/u/0/events/clkj95bn5ft5nge19ggfonpgodc"}Google Hangout
      or
      %a{:href => "http://isotope11.com/contact"}isotope | eleven Offices
  %tr
    %td.label
      %strong Signup
    %td.info
      %a{:href => "http://www.meetup.com/bhamboss/events/92753442/"}Meetup
%br/

%p
  BOSS will hold it's December meetup at 6pm CST on 17-Dec, 2012.  Since the holidays are so near and many of our regular attendees
  have a busy social calendar this meeting will be via Google Hangout.
  %a{:href => 'https://github.com/knewter'}Josh
  has scheduled the
  %a{:href => "https://plus.google.com/u/0/events/clkj95bn5ft5nge19ggfonpgodc"}hangout
  so click the link to get a reminder.
%p
  Participation in the hangout is optional.  Members that prefer to attend the meeting at the
  %a{:href => "http://isotope11.com/contact"}isotope | eleven Offices
  are encoraged to do so.

%p
  Our adgenda for this meeting will be:
  %ul
    %li
      Planning the logistics for the
      %a{:href => "http://bosshack.org/blog/2012/11/27/first-boss-hack-a-thon-scheduled/"}Hack-A-Thon
    %li
      Reviewing the current list of project
      %a{:href => "http://bosshack.org/first-hackathon-nominations/index.html"}nominations
    %li
      Whatever else comes up...

%p
  As is the case with any hacker meeting, familiarity with the technology involved (Google Hangout)
  is encouraged.  You may desire to share your screen, mute your audio, or put a mustache on your image.
  Be Prepared....

%h1 Hope to see you on Monday!