---
layout: post
title: "Hacktember Projects have been decided"
date: 2013-08-30 12:42
comments: true
categories:
sticky: false
---
%p
  During our August meetup, we kicked off "Hacktember" by nominating and forming teams around
  several projects:
%ul
  %li
    Arduino Aquaponics
    %ul
      %li
        %a{href: "https://github.com/bosshack/aquaponics"} Github Project
      %li
        %a{href: "https://plus.google.com/114008556324488686789", rel: "publisher"} Google+ Page
  %li Lupus Predictors
  %li Stratoglider
  %li
    Chromechat / Erlang Chat Server
    %ul
      %li
        %a{href: "https://github.com/bosshack/chromechat"} Github Project
  %li USB/Bluetooth physical hardware lockdown / security
  %li Jobs War-Driving

%p
  Everyone is invited to join us on Monday, 30-Sep-2013 at 6pm
  to see the progress we've made over the month.   There's a handy Google calendar link below if you need a reminder...

%a{href: "http://www.google.com/calendar/event?action=TEMPLATE&text=Hacktember%20Recap&dates=20130930T230000Z/20131001T010000Z&details=Hacktember%20recap%20meeting&location=529%20Beacon%20Parkway%20W%2C%20%20Suite%20105%2C%20%20Birmingham%2C%20AL%2035209&trp=false&sprop=BossHack&sprop=name:http%3A%2F%2Fbosshack.org", target: "_blank"}
  %img{src: "//www.google.com/calendar/images/ext/gc_button1.gif",border: 0}
